@model TaskRegister.Models.User

@{
    ViewData["Title"] = "Home";
}

    <head>
        <style>
           h1 {
               color:burlywood;
               font-weight:bold;
           }
        </style>
    </head>

    
<h1>Registrieren Sie sich bitte </h1>

 
  